* {
  margin: 0;
  padding: 0;
}
html {
  font-size: calc(100vw / 7.5);
}
.bighead {
  width: 100%;
  height: 2.68rem;
}
.bighead .headfirst {
  width: 100%;
  height: 2.12rem;
  background: rgba(7, 17, 27, 0.5);
  position: relative;
}
.bighead .headfirst .background {
  z-index: -1;
  width: 100%;
  height: 2.68rem;
  filter: blur(0.1rem);
  position: absolute;
}
.bighead .headfirst .headfirstimg {
  width: 1.28rem;
  height: 1.28rem;
  margin-left: 0.48rem;
  margin-top: 0.48rem;
}
.bighead .headfirst .headword {
  height: 1.2rem;
  position: absolute;
  left: 2.08rem;
  top: 0.52rem;
}
.bighead .headfirst .headword h2 {
  font-size: 0.32rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.36rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bighead .headfirst .headword h2 img {
  margin-right: 0.12rem;
  width: 0.6rem;
  height: 0.37rem;
}
.bighead .headfirst .headword h3 {
  font-size: 0.24rem;
  color: #ffffff;
  font-weight: 200;
  line-height: 0.24rem;
  margin-top: 0.16rem;
}
.bighead .headfirst .headword h4 {
  font-size: 0.20rem;
  color: #ffffff;
  font-weight: 200;
  line-height: 0.24rem;
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.bighead .headfirst .headword h4 img {
  width: 0.6rem;
  height: 0.37rem;
}
.bighead .headfirst .headword h4 img {
  margin-right: 0.08rem;
  width: 0.24rem;
  height: 0.24rem;
}
.bighead .headfirst .addword {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.14rem 0.16rem 0.14rem 0.16rem;
  position: absolute;
  right: 0.24rem;
  bottom: 0.24rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.bighead .headfirst .addword h5 {
  font-size: 0.20rem;
  color: #ffffff;
  font-weight: 200;
  line-height: 0.24rem;
}
.bighead .headfirst .addword h5 span {
  font-size: 0.15rem;
  font-weight: 200;
  margin-left: 0.04rem;
}
.bighead .headsecond {
  width: 100%;
  height: 0.56rem;
  background-color: rgba(7, 17, 27, 0.6);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bighead .headsecond img {
  margin-left: 0.24rem;
  margin-right: 0.08rem;
  width: 0.48rem;
  height: 0.28rem;
}
.bighead .headsecond h5 {
  font-size: 0.20rem;
  color: #ffffff;
  font-weight: 200;
  line-height: 0.56rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bighead .headsecond span {
  margin-left: 0.08rem;
  margin-right: 0.24rem;
  color: #ffffff;
  font-size: 0.15rem;
  font-weight: 200;
  cursor: pointer;
}
.levelmenu {
  width: 100%;
  height: 0.8rem;
  border-bottom: 0.02rem solid rgba(7, 17, 27, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  justify-content: space-between;
}
.levelmenu div {
  width: 33%;
  text-align: center;
  font-size: 0.28rem;
  color: #4d555d;
  line-height: 0.28rem;
}
.levelmenu div:first-child {
  color: #f01414;
}
.shop {
  height: calc(100vh - 3.5rem);
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
#swiper-container {
  margin: 0;
  width: 1.6rem;
  height: calc(100vh - 3.5rem);
}
#swiper-container .swiper-slide {
  padding: 0 0.24rem 0 0.24rem;
  width: 1.12rem;
  height: 1.08rem;
  display: flex;
  background: #f3f5f7;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: relative;
}
#swiper-container .swiper-slide h5 {
  width: 1.12rem;
  font-size: 0.24rem;
  color: #4d555d;
  font-weight: 200;
  line-height: 0.28rem;
}
#swiper-container .swiper-slide h5 img {
  width: 0.24rem;
  height: 0.24rem;
  margin-top: 0.03rem;
  margin-right: 0.03rem;
  float: left;
}
#swiper-container .swiper-slide h4 {
  width: 1.12rem;
  height: 0.02rem;
  background: rgba(7, 17, 27, 0.1);
  position: absolute;
  bottom: 0;
}
#swiper-container1 {
  margin: 0;
  width: calc(100vw - 1.6rem);
  height: calc(100vh - 3.5rem);
}
#swiper-container1 .menuname {
  padding-left: 0.24rem;
  height: 0.52rem;
  font-size: 0.24rem;
  line-height: 0.52rem;
  color: #93999f;
  border-left: 0.04rem solid #d9dde1;
}
#swiper-container1 .food {
  width: calc(100vw - 2.32rem);
  padding: 0.36rem;
  display: flex;
  flex-direction: row;
}
#swiper-container1 .food img {
  width: 1.18rem;
  height: 1.18rem;
}
#swiper-container1 .food .foodname {
  margin-top: 0.04rem;
  margin-left: 0.2rem;
  position: relative;
}
#swiper-container1 .food .foodname h1 {
  font-size: 0.28rem;
  color: #07111b;
  line-height: 0.28rem;
}
#swiper-container1 .food .foodname h2 {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
  margin-top: 0.16rem;
}
#swiper-container1 .food .foodname h3 {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
  margin-top: 0.16rem;
}
#swiper-container1 .food .foodname h3 span {
  margin-left: 0.24rem;
}
#swiper-container1 .food .foodname .value {
  width: calc(100vw - 3.7rem);
  margin-top: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#swiper-container1 .food .foodname .value h4 {
  font-size: 0.28rem;
  color: #f01414;
  font-weight: 700;
  line-height: 0.48rem;
  display: flex;
  align-items: center;
}
#swiper-container1 .food .foodname .value h4 span {
  font-size: 0.20rem;
  color: #93999f;
  font-weight: normal;
  margin-left: 0.16rem;
}
#swiper-container1 .food .foodname .value .button {
  line-height: 0.48rem;
  font-size: 0.20rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#swiper-container1 .food .foodname .value .button b:nth-child(1) {
  display: none;
  font-size: 0.30rem;
  color: #33c4ff;
}
#swiper-container1 .food .foodname .value .button b:nth-child(2) {
  text-align: center;
  width: 0.48rem;
  color: #93999f;
}
#swiper-container1 .food .foodname .value .button b:nth-child(3) {
  font-size: 0.34rem;
  color: #33c4ff;
}
#swiper-container1 .food .foodname .value + i {
  height: 0.02rem;
  width: 0.4rem;
  background: #93999f;
  position: absolute;
  left: 0.67rem;
  bottom: 0.22rem;
}
.bottommenu {
  height: 1.16rem;
  width: 100%;
  position: absolute;
  z-index: 5;
  bottom: 0;
  /*display: none;*/
}
.bottommenu div:nth-child(3) {
  width: 0.48rem;
  text-align: center;
  background: #f01414;
  box-shadow: 0 0.04rem 0.08rem 0 rgba(0, 0, 0, 0.4);
  font-size: 0.18rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 0.32rem;
  position: absolute;
  left: 0.88rem;
  border-radius: 0.18rem;
  top: 0;
  display: none;
}
.bottommenu div:nth-child(1) {
  width: 0.88rem;
  height: 0.88rem;
  text-align: center;
  border-radius: 50%;
  font-size: 0.48rem;
  color: rgba(255, 255, 255, 0.4);
  line-height: 0.88rem;
  background: rgba(38, 42, 53, 0.98);
  border: 0.12rem solid rgba(20, 29, 39, 0.98);
  margin-left: 0.24rem;
  position: absolute;
}
.bottommenu div:nth-child(2) {
  height: 0.96rem;
  margin-top: 0.2rem;
  background: rgba(20, 29, 39, 0.98);
  display: flex;
  flex-flow: row nowrap;
  /*justify-content:space-between;*/
  align-items: center;
}
.bottommenu div:nth-child(2) h1 {
  height: 0.48rem;
  font-size: 0.32rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  line-height: 0.48rem;
  margin-left: 1.6rem;
}
.bottommenu div:nth-child(2) h2 {
  height: 0.48rem;
  width: 0.02rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto 0.24rem;
}
.bottommenu div:nth-child(2) h3 {
  font-size: 0.20rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: normal;
  line-height: 0.48rem;
}
.bottommenu div:nth-child(2) h4 {
  width: 2.1rem;
  font-size: 0.24rem;
  font-weight: 700;
  line-height: 0.96rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  background: rgba(38, 42, 53, 0.98);
  margin-left: 0.24rem;
  position: absolute;
  right: 0;
}
.main {
  height: 100vh;
  /*display: none;*/
}
.main1 {
  filter: blur(0.1rem);
}
.waring::-webkit-scrollbar {
  display: none;
}
.waring {
  background: rgba(7, 17, 27, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  display: none;
  overflow-Y: scroll;
}
.waring .firstlevel {
  text-align: center;
  margin-top: 1.28rem;
  font-size: 0.32rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 0.32rem;
}
.waring .secondlevel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 0.32rem;
}
.waring .secondlevel img {
  width: 0.45rem;
  height: 0.44rem;
  margin: 0 0.2rem;
}
.waring .thirdlevel,
.waring .fifthlevel {
  padding: 0.56rem 0.72rem 0.48rem 0.72rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.waring .thirdlevel h2,
.waring .fifthlevel h2 {
  width: 2.24rem;
  height: 0.02rem;
  background: rgba(255, 255, 255, 0.2);
}
.waring .thirdlevel h3,
.waring .fifthlevel h3 {
  margin: 0 0.24rem;
  font-size: 0.27rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 0.32rem;
}
.waring .forthlevel {
  padding: 0 0.96rem 0.56rem 0.96rem;
}
.waring .forthlevel h4:nth-child(1) {
  margin-top: 0;
}
.waring .forthlevel h4 {
  font-size: 0.24rem;
  font-weight: 200;
  color: #ffffff;
  line-height: 0.32rem;
  margin-top: 0.24rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.waring .forthlevel h4 img {
  height: 0.32rem;
  width: 0.32rem;
}
.waring .forthlevel h4 span {
  margin-left: 0.12rem;
  align-self: stretch;
}
.waring .forthlevel + .fifthlevel {
  padding: 0 0.72rem 0.48rem 0.72rem;
}
.waring .sixthlevel {
  /*height: ~"calc(100vh - 8.83rem)";*/
}
.waring .sixthlevel p {
  text-indent: 0.3rem;
  padding: 0 0.96rem;
  font-size: 0.24rem;
  font-weight: 200;
  color: #ffffff;
  line-height: 0.48rem;
}
.waring .seventhlevel {
  width: 100%;
  text-align: center;
  margin-bottom: 0.64rem;
}
.waring .seventhlevel span {
  font-size: 0.64rem;
  color: rgba(255, 255, 255, 0.5);
}
.shopcar {
  width: 100%;
  height: 100vh;
  background: rgba(7, 17, 27, 0.6);
  position: absolute;
  z-index: 2;
  overflow: hidden;
  display: none;
}
.shopcar .shopcarall {
  height: 6.11rem;
  width: 100%;
  position: absolute;
  bottom: -6.11rem;
  background: #f3f5f7;
}
.shopcar .shopcarall .shophead {
  height: 0.8rem;
  padding: 0 0.36rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 0.02rem solid rgba(7, 17, 27, 0.1);
}
.shopcar .shopcarall .shophead h3 {
  font-size: 0.28rem;
  font-weight: 200;
  color: #07111b;
  line-height: 0.8rem;
}
.shopcar .shopcarall .shophead h4 {
  font-size: 0.28rem;
  color: #00a0dc;
  line-height: 0.8rem;
}
.shopcar .shopcarall .shopbody {
  height: calc(6.11rem - 0.8rem);
  padding: 0 0.36rem;
}
.shopcar .shopcarall .shopbody .shopline {
  height: 0.96rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.01rem solid rgba(7, 17, 27, 0.1);
}
.shopcar .shopcarall .shopbody .shopline h2 {
  font-size: 0.28rem;
  color: #07111b;
  line-height: 0.48rem;
}
.shopcar .shopcarall .shopbody .shopline .button1 {
  display: flex;
}
.shopcar .shopcarall .shopbody .shopline .button1 p {
  padding: 0 0.24rem 0 0.36rem;
  font-size: 0.2rem;
  font-weight: normal;
  color: #f01414;
  line-height: 0.48rem;
}
.shopcar .shopcarall .shopbody .shopline .button1 p span {
  font-size: 0.28rem;
  font-weight: 700;
}
.shopcar .shopcarall .shopbody .shopline .button1 b {
  line-height: 0.48rem;
}
.shopcar .shopcarall .shopbody .shopline .button1 b:nth-child(2) {
  font-size: 0.48rem;
  color: #00a0dc;
}
.shopcar .shopcarall .shopbody .shopline .button1 b:nth-child(3) {
  text-align: center;
  font-size: 0.2rem;
  width: 0.48rem;
  color: #93999f;
}
.shopcar .shopcarall .shopbody .shopline .button1 b:nth-child(4) {
  font-size: 0.54rem;
  color: #00a0dc;
}
.shopdetail::-webkit-scrollbar {
  display: none;
}
.shopdetail {
  width: 100%;
  height: 100vh;
  overflow-Y: scroll;
  position: absolute;
  z-index: 2;
  background: white;
  display: none;
}
.shopdetail img {
  height: 7.5rem;
  width: 100%;
}
.shopdetail .detailname {
  padding: 0.36rem;
}
.shopdetail .detailname h4 {
  font-size: 0.28rem;
  font-weight: 700;
  color: #07111b;
  line-height: 0.28rem;
}
.shopdetail .detailname h5 {
  margin-top: 0.16rem;
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
}
.shopdetail .detailname h5 span {
  margin-left: 0.24rem;
}
.shopdetail .detailvalue {
  padding: 0 0.36rem 0.36rem 0.36rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.shopdetail .detailvalue h3 {
  font-size: 0.28rem;
  font-weight: 700;
  color: red;
  line-height: 0.48rem;
  display: flex;
  align-items: center;
}
.shopdetail .detailvalue h3 span {
  margin-left: 0.24rem;
  font-size: 0.2rem;
  font-weight: normal;
  color: #93999f;
  line-height: 0.48rem;
}
.shopdetail .detailvalue h2 {
  width: 1.48rem;
  text-align: center;
  font-size: 0.2rem;
  color: #ffffff;
  line-height: 0.24rem;
  padding: 0.12rem 0;
  border-radius: 0.24rem;
  background: #00a0dc;
}
.shopdetail .detailvalue i {
  width: 0.36rem;
  height: 0.03rem;
  background: #93999f;
  position: absolute;
  left: 1.24rem;
  bottom: 0.6rem;
}
.shopdetail b {
  display: block;
  width: 100%;
  height: 0.32rem;
  background: #f3f5f7;
  border-bottom: 0.02rem solid rgba(7, 17, 27, 0.1);
  border-top: 0.02rem solid rgba(7, 17, 27, 0.1);
}
.shopdetail .shopintrodu {
  padding: 0.36rem;
}
.shopdetail .shopintrodu h2 {
  font-size: 0.28rem;
  font-weight: normal;
  color: #07111b;
  line-height: 0.28rem;
}
.shopdetail .shopintrodu h3 {
  padding: 0 0.16rem;
  margin-top: 0.12rem;
  font-size: 0.24rem;
  font-weight: 200;
  color: #4d555d;
  line-height: 0.48rem;
}
.shopdetail .evaluate {
  padding: 0.36rem 0.36rem 0.12rem 0.36rem;
  font-size: 0.28rem;
  font-weight: normal;
  color: #07111b;
  line-height: 0.28rem;
}
.shopdetail .evaluatebox {
  margin: 0 0.36rem;
  padding: 0.24rem 0 0.36rem 0;
  border-bottom: 0.03rem solid rgba(7, 17, 27, 0.1);
  display: flex;
}
.shopdetail .evaluatebox h2 {
  font-size: 0.24rem;
  color: #ffffff;
  line-height: 0.32rem;
  border-radius: 0.24rem;
  background: #00a0dc;
  padding: 0.16rem 0.24rem;
  margin-right: 0.16rem;
}
.shopdetail .evaluatebox h2 span {
  font-size: 0.16rem;
}
.shopdetail .evaluatebox h3 {
  font-size: 0.24rem;
  color: #4d555d;
  line-height: 0.32rem;
  border-radius: 0.04rem;
  background: rgba(0, 160, 220, 0.2);
  padding: 0.16rem 0.24rem;
  margin-right: 0.16rem;
}
.shopdetail .evaluatebox h3 span {
  font-size: 0.16rem;
}
.shopdetail .evaluatebox h4 {
  font-size: 0.24rem;
  color: #4d555d;
  line-height: 0.32rem;
  border-radius: 0.02rem;
  background: rgba(77, 85, 93, 0.2);
  padding: 0.16rem 0.24rem;
}
.shopdetail .evaluatebox h4 span {
  font-size: 0.16rem;
}
.shopdetail .evaluatechoice {
  font-size: 0.24rem;
  color: #93999f;
  line-height: 0.48rem;
  padding: 0.24rem 0.36rem;
  border-bottom: 0.03rem solid rgba(7, 17, 27, 0.1);
  display: flex;
  align-items: center;
}
.shopdetail .evaluatechoice span {
  font-size: 0.48rem;
  margin-right: 0.08rem;
}
.shopdetail .evaluatedetail {
  padding: 0.32rem 0;
  margin: 0 0.36rem;
  border-bottom: 0.03rem solid rgba(7, 17, 27, 0.1);
}
.shopdetail .evaluatedetail .evaluatetime {
  display: flex;
  justify-content: space-between;
}
.shopdetail .evaluatedetail .evaluatetime h3 {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.24rem;
}
.shopdetail .evaluatedetail .evaluatetime h3 span {
  margin-left: 0.08rem;
}
.shopdetail .evaluatedetail .evaluatetime h4 {
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.24rem;
  display: flex;
  align-items: center;
}
.shopdetail .evaluatedetail .evaluatetime h4 img {
  width: 0.24rem;
  height: 0.24rem;
  margin-right: 0.12rem;
}
.shopdetail .evaluatedetail .evaluateword {
  margin-top: 0.12rem;
  display: flex;
  align-items: center;
}
.shopdetail .evaluatedetail .evaluateword span {
  font-size: 0.24rem;
  color: #93999f;
  line-height: 0.48rem;
  margin-right: 0.08rem;
}
.shopdetail .evaluatedetail .evaluateword h5 {
  font-size: 0.24rem;
  color: #07111b;
  line-height: 0.32rem;
}
.comment {
  width: 100%;
  height: calc(100vh - 3.5rem);
  position: absolute;
  top: 3.5rem;
  overflow-y: scroll;
  background: white;
  display: none;
  z-index: 2;
}
.comment .commentfirst {
  padding: 0.36rem 0;
  display: flex;
}
.comment .commentfirst .commentfirstword {
  width: 2.75rem;
  padding: 0 0 0.12rem 0;
  text-align: center;
}
.comment .commentfirst .commentfirstword h2 {
  font-size: 0.48rem;
  color: #ff9900;
  line-height: 0.56rem;
}
.comment .commentfirst .commentfirstword h3 {
  margin-top: 0.12rem;
  font-size: 0.24rem;
  color: #07111b;
  line-height: 0.24rem;
}
.comment .commentfirst .commentfirstword h4 {
  margin-top: 0.16rem;
  font-size: 0.2rem;
  color: #93999f;
  line-height: 0.2rem;
}
.comment .commentfirst .commentfirststar {
  width: 4.74rem;
  border-left: 0.01rem solid #93999f;
  padding: 0 0.48rem;
}
.comment .commentfirst .commentfirststar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment .commentfirst .commentfirststar div h5 {
  font-size: 0.24rem;
  color: #07111b;
  line-height: 0.36rem;
}
.comment .commentfirst .commentfirststar div h4 {
  flex-grow: 1;
  display: flex;
  padding: 0 0.24rem;
  justify-content: space-between;
}
.comment .commentfirst .commentfirststar div h4 img {
  width: 0.3rem;
  height: 0.3rem;
}
.comment .commentfirst .commentfirststar div h3 {
  font-size: 0.24rem;
  color: #ff9900;
  line-height: 0.36rem;
}
.comment .commentfirst .commentfirststar div span {
  font-size: 0.24rem;
  color: #93999f;
  line-height: 0.36rem;
  margin-left: 0.24rem;
}
.comment .commentfirst .commentfirststar div:nth-child(2) {
  margin-top: 0.16rem;
}
.comment .commentfirst .commentfirststar div:nth-child(3) {
  justify-content: flex-start;
  margin-top: 0.16rem;
}
.comment b {
  display: block;
  width: 100%;
  height: 0.32rem;
  background: #f3f5f7;
  border-bottom: 0.01rem solid rgba(7, 17, 27, 0.1);
  border-top: 0.01rem solid rgba(7, 17, 27, 0.1);
}
.comment .commentbox {
  margin: 0 0.36rem;
  padding: 0.36rem 0;
  border-bottom: 0.03rem solid rgba(7, 17, 27, 0.1);
  display: flex;
}
.comment .commentbox h2 {
  font-size: 0.24rem;
  color: #ffffff;
  line-height: 0.32rem;
  border-radius: 0.24rem;
  background: #00a0dc;
  padding: 0.16rem 0.24rem;
  margin-right: 0.16rem;
}
.comment .commentbox h3 {
  font-size: 0.24rem;
  color: #4d555d;
  line-height: 0.32rem;
  border-radius: 0.04rem;
  background: rgba(0, 160, 220, 0.2);
  padding: 0.16rem 0.24rem;
  margin-right: 0.16rem;
}
.comment .commentbox h4 {
  font-size: 0.24rem;
  color: #4d555d;
  line-height: 0.32rem;
  border-radius: 0.02rem;
  background: rgba(77, 85, 93, 0.2);
  padding: 0.16rem 0.24rem;
}
.comment .commentchoice {
  font-size: 0.24rem;
  color: #93999f;
  line-height: 0.48rem;
  padding: 0.24rem 0.36rem;
  border-bottom: 0.03rem solid rgba(7, 17, 27, 0.1);
  display: flex;
  align-items: center;
}
.comment .commentchoice span {
  font-size: 0.48rem;
  margin-right: 0.08rem;
}
.comment .commentdetail {
  padding: 0.36rem 0;
  margin: 0 0.36rem;
  border-bottom: 0.01rem solid rgba(7, 17, 27, 0.2);
}
.comment .commentdetail div:nth-child(1) {
  display: flex;
}
.comment .commentdetail div:nth-child(1) img {
  width: 0.56rem;
  height: 0.56rem;
}
.comment .commentdetail div:nth-child(1) div {
  margin-left: 0.24rem;
  flex-grow: 1;
}
.comment .commentdetail div:nth-child(1) div h4 {
  font-size: 0.2rem;
  color: #07111b;
  line-height: 0.24rem;
}
.comment .commentdetail div:nth-child(1) div h5 {
  margin-top: 0.08rem;
  font-size: 0.2rem;
  font-weight: 200;
  color: #93999f;
  line-height: 0.24rem;
  display: flex;
  align-items: center;
}
.comment .commentdetail div:nth-child(1) div h5 img {
  width: 0.2rem;
  height: 0.2rem;
  margin-right: 0.06rem;
}
.comment .commentdetail div:nth-child(1) div h5 img:nth-child(5) {
  margin-right: 0;
}
.comment .commentdetail div:nth-child(1) div h5 span {
  margin-left: 0.12rem;
}
.comment .commentdetail div:nth-child(1) h3 {
  font-size: 0.2rem;
  font-weight: 200;
  color: #93999f;
  line-height: 0.24rem;
}
.comment .commentdetail .commentdetailword {
  margin-top: 0.12rem;
  padding: 0 0 0 0.8rem;
  font-size: 0.24rem;
  color: #07111b;
  line-height: 0.36rem;
}
.comment .commentdetail div:nth-child(3) {
  padding: 0 0 0 0.8rem;
  margin-top: 0.16rem;
  display: flex;
  align-items: center;
}
.comment .commentdetail div:nth-child(3) span {
  font-size: 0.24rem;
  color: #00a0dc;
  line-height: 0.32rem;
}
.comment .commentdetail div:nth-child(3) h4 {
  width: 0.9rem;
  margin-left: 0.16rem;
  font-size: 0.18rem;
  color: #93999f;
  line-height: 0.32rem;
  padding: 0 0.12rem;
  border: 0.02rem solid rgba(7, 17, 27, 0.1);
  border-radius: 0.02rem;
  background: #ffffff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
